@model BOM.User
@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>
<div class="watersheddiv container body-content">
    <form method="post" class="form-group">
        Email:<input type="email" name="email" class="form-control" id="email" required />
        <input type="submit" class="btn btn-primary" value="forget password" />
    </form>
    </div>
    @{
        String script = ViewData["mail"] as String;
        if (null != script)
        {
            if (script.Equals("success"))
            {
                <script>alert('mail sent successfully');  </script>
            }
            else if (script.Equals("fail"))
            {
                <script>alert('failed to sent mail'); </script>
            }
        }
    }
