
@{
    ViewBag.Title = "UpdatePassword";
    BOM.User user = this.Session["user"] as BOM.User;
    if (user.uid == 0)
    {
        this.Response.Redirect("/Account/Login");  //session management code
    }
}

<script>
    function changePassword()
    {
        var email = $("email").val();
        var password = $("password").val();
        var npassword = $("npassword").val();
        if(password=='')
        {
            alert('password is blank');
            return;
        }
        if (npassword == '') {
            alert('npassword is blank');
            return;
        }

        document.getElementById("updatepassform").submit();
/*
        $.ajax
		  ({
		      type: 'post',
		      url: '/Account/UpdatePassword',
		      data: "email=" + email + "&password=" + password+"&npassword="+npassword,
		      dataType: "text",
		      success: function (response) {
		          if (response.msg == "success") {
		              alert("success");
		              
		          } else {
		              alert('password not updated');
		              return;
		          }
		      },
		      error: function () {
		          alert("wrong details");
		      }
		  });  //ajax ends here
  */   
    }
    

</script>

<h2>UpdatePassword</h2>

<form  method="post" id="updatepassform" class="form-group">
<input type="hidden" name="email" value="@user.email" class="form-control"><br />
<label class="label-warning" for="password">Current Password:</label><input id="password" type="password" name="password" class="form-control" /><br />
<label class="control-label" for="npassword">new PAssword:</label><input type="password" id="npassword" name="npassword" class="form-control"/>
<input type="button" value="ChangePassword" onclick="changePassword()" class="btn btn-lg"/>
</form>

@{
    var msg = this.ViewData["updatepass"] as String;
}

@{
    if (null != msg)
    {
        if (msg.Equals("success"))
        {
            this.Response.Write("<script>alert('Password Changed');</script>");
        }
        else
        {
            this.Response.Write("<script>alert('Password not changed');</script>");
        }
    }
}